

@font-face {
	font-family: MTCORSVA;
    src: url(fonts/MTCORSVA.TTF);
}

@font-face {
	font-family: Streetscript;
    src: url(fonts/Streetscript_Free.ttf);
}

@font-face {
	font-family: Gilroy;
	src: url(fonts/Gilroy-Light.otf);
}


.MTCORSVA {
    font-family: MTCORSVA;
}

.Streetscript {
    font-family: Streetscript;
}

.Gilroy {
    font-family: Gilroy;
}







